<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="sysversion" value="1.0"/>
</appSettings>
  <connectionStrings>
    <add name="connString" connectionString="TqQkCcb7381FC7HdwfEAY2q/F9+QTMzAbl3dDQ0OWZo0EQzmqYlPMknoYezFITkluUTDfGxYPe8R7ozmKbczUw=="/>
  </connectionStrings>
</configuration>